<% content_for :header_tags do %>
<%= stylesheet_link_tag "table.css", :plugin => 'redmine_portfolio_management' %>
<%= javascript_include_tag "table.js", :plugin => 'redmine_portfolio_management' %>
<%= javascript_include_tag "tablePage.js", :plugin => 'redmine_portfolio_management' %>
<% end %>
<h1><%= l(:portfolio_management_title) %></h1>
<div id="projects-index">
   <% RedminePortfolioManagement::Redmine::list_portfolio_values.each do |portfolio| %>
   <h2><%=raw portfolio['value']%></h2>
   <div class="datagrid">
      <table class='table-autopage:10 table-autosort:2 table-stripeclass:alt sort5' id='<%=raw portfolio['value_id'].gsub(/[^a-zA-Z0-9]/, "_") %>'>
         <thead>
            <tr>
               <th class='table-sortable:default'><%= l(:portfolio_management_parent_project) %></th>
               <th class='table-sortable:default'><%= l(:portfolio_management_project) %></th>
               <th class='table-sortable:default'><%= l(:portfolio_management_responsible) %></th>
               <th class='table-sortable:date'><%= l(:portfolio_management_create_date) %></th>
               <th class='table-sortable:date'><%= l(:portfolio_management_start_date) %></th>
               <th class='table-sortable:date'><%= l(:portfolio_management_due_date) %></th>
               <th class='table-sortable:numeric'><%= l(:portfolio_management_p_done) %></th>
            </tr>
            <tr>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)'></th>
               <th><input name='project_filter' onkeyup='Table.filter(this,this)' size='5'></th>
            </tr>
         </thead>
         <tbody>
            <% _total=0 %>
            <% RedminePortfolioManagement::Redmine::list_projects_portfolio(portfolio['id'],portfolio['value']).each do |project| %>
            <%_total=_total+1%>
            <%=raw "<tr class='"+cycle('normal','alt')+"'><td><i>"+(project['parent_project']=="N/A"?l(:portfolio_management_without_parent_project):project['parent_project'])+"</i></td><td><b><a href='/projects/"+project['identifier']+"'>"+project['name']+"</a></b></td><td>"+(RedminePortfolioManagement::Redmine::project_responsible(project['project_id'])=="N/A"?l(:portfolio_management_without_responsible):RedminePortfolioManagement::Redmine::project_responsible(project['project_id']))+"</td><td>"+DateTime.parse(project['created_on'].to_s).strftime("%d/%m/%Y")+"</td><td>"+(RedminePortfolioManagement::Redmine::start_date_project(project['project_id'])=="N/A"?l(:portfolio_management_without_date):RedminePortfolioManagement::Redmine::start_date_project(project['project_id']))+"</td><td>"+(RedminePortfolioManagement::Redmine::due_date_project(project['project_id'])=="N/A"?l(:portfolio_management_without_date):RedminePortfolioManagement::Redmine::due_date_project(project['project_id']))+"</td><td>"+RedminePortfolioManagement::Redmine::project_evolution(project['project_id'])+"</td></tr>" %>
            <% end %>           
         </tbody>
         <tfoot>
            <td colspan='7'>
               <% if _total > 10 then  %>
               <a href="#" onclick="pageTable('previous','<%=raw portfolio['value_id'].gsub(/[^a-zA-Z0-9]/, "_")%>'); return false;">&laquo;&nbsp;<%= l(:portfolio_management_previous) %></a>
               <% _result=(Float(_total)/Float(10))  %>
               <% for i in 0..Integer(_result) %>
               <%=raw "<a href='#' id='page#{i+1}' class='pagelink' onclick=\"pageTable(#{i},'#{portfolio['value_id'].gsub(/[^a-zA-Z0-9]/, "_")}'); return false;\">#{i+1}</a>" %>
               <% end %>
               <a href="#" onclick="pageTable('next','<%=raw portfolio['value_id'].gsub(/[^a-zA-Z0-9]/, "_")%>'); return false;"><%= l(:portfolio_management_next) %>&nbsp;&raquo;</a>
               <% end %>
            </td>
         </tfoot>
      </table>
   </div>
   <% end %>
   </br>
</div>
